<!DOCTYPE html>  
<html lang="en">
  <head>
    <title>Animal Shelter</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="../js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
  </head>
  <body>
    <h1>ANIMAL SHELTER</h1>
    <%- body %>
  </body>
</html>
